.header{
    width: 100%;
    height: 10%;
    padding: 43px 75px;
}

.header .view-name{
    color: #333D51;
    font-size: 80px;
}

.header progress{
    margin-top: 10px;
    appearance: none;
    width: 100%;
    height: 50px;
}

.header progress::-webkit-progress-bar{
    background-color: white;
    border-radius: 50px;
}

.header progress::-webkit-progress-value{
    background-color: #5cdb5c;
    border-radius: 50px;
}

.header .view-outline{
    color: #333D51;
    font-size: 45px;
}