button{
    background-color: #D3AC2B;
    color: #F4F3EA;
    font-weight: 600;
    font-size: 30px;
    border-radius: 23px;
    border-width: 0;
    width: 225px;
    min-height: 53px;
    transition: filter 0.2s;
}

button:hover{
    filter: brightness(1.1);
}

button:disabled{
    background-color: #CBD0D8;
    transition: none;
}