@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

.navigation-bar{
    height: 100%;
    width: 600px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 25px;
    /*
        background-color : 배경색상을 지정
        background : background-color + background-image + background-repeat + background-attachment + background-position
        (한번에 설정가능)
    */
    background-color: #333D51;
    color: #CBD0D8;
}

.navigation-bar .navigation-head{
    display: flex;
    min-height: 50px;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.navigation-bar .navigation-head .logo-img{
    font-size: 100px;
    color: #A50034;
    margin-right: 10px;
}

.navigation-bar .navigation-head .logo-name{
    font-family: 'Orbitron', sans-serif;
    font-size: 80px;
    color: #D3AC2B;
}

.navigation-bar .navigation-head .btn{
    position: absolute;
    right:5%;
    font-size: 100px;
}

.navigation-bar ul{
    list-style: none;
    margin-top: 50px;
}

.navigation-bar ul li{
    position: relative;
    height: 150px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

/*
    css의사클래스 : html요소의 특별한 상태를 명실할 때 사용.
    hover : 마우스 커서가 요소에 올라가 있을 때 동작.
*/
.navigation-bar ul li:hover{
    color: #333D51;
    background-color: #CBD0D8; 
}

.navigation-bar ul li svg{
    width: 150px;
    font-size: 70px;
}

.navigation-bar .profile{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #CBD0D8;
    background-color: #202633;
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
}

.navigation-bar .profile img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 30px;
    margin-left: 20px;
}

.navigation-bar .profile .name-job{
    margin-left: 20px;
}

.navigation-bar .profile .name-job .name{
    font-size: 40px;
    font-weight: 600;
}

.navigation-bar .profile .name-job .job{
    font-size: 30px;
    font-weight: 600;
}

.navigation-bar .profile .logout{
    position: absolute;
    right: 5%;
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

.navigation-bar .profile .logout:hover{
    color: #202633;
    background-color: #CBD0D8;
}

.navigation-bar .profile .logout svg{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

