.add-patient{
    width: 100%;
    height: 90%;
    padding: 75px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 75px;
}

.add-patient label{
    align-self: start;
    padding-left: 45px;
    font-size: 60px;
    color: #CBD0D8;
    margin-top: 60px;
}

.add-patient input{
    width: 90%;
}

.add-patient select{
    width: 90%;
}

.add-patient .guide{
    width: 100%;
    font-size: 60px;
    font-weight: 600;
    color: #333D51;
}

.add-patient .image-contents{
    grid-row: 1 / 3;
    grid-column: 1;
    color: #F4F3EA;
}

.add-patient .image-contents video{
    width: 100%;
    border-radius: 45px;
}

.add-patient .image-contents canvas{
    border-radius: 45px;
    width: 100%;
    display: none;
}

.add-patient .image-contents .vision-message{
    margin-top: 30px;
    color: #333D51;
    font-size: 60px;
    font-weight: 600; 
}

.add-patient button{
    margin-top: 60px;
}

.add-patient .information-contents{
    grid-row: 3;
    grid-column: 1;
    color: #F4F3EA;
}

.add-patient .severity-contents{
    grid-row: 1;
    grid-column: 2;
    color: #F4F3EA;
}

.add-patient .diagnosis-contents{
    grid-row: 2 / 4;
    grid-column: 2;
    color: #F4F3EA;
}

.add-patient .severeDisease-contents{
    grid-row: 1;
    grid-column: 3;
    color: #F4F3EA;
}

.add-patient .facility-contents{
    grid-row: 2 / 4;
    grid-column: 3;
    color: #F4F3EA;
}

.add-patient .contents-box .scroll::-webkit-scrollbar-track-piece:start{
    margin-top: 7px;
}