button{
    background-color: #D3AC2B;
    color: #F4F3EA;
    font-weight: 600;
    font-size: 60px;
    border-radius: 45px;
    border-width: 0;
    width: 450px;
    height: 105px;
    transition: filter 0.2s;
}

button:hover{
    filter: brightness(1.1);
}

button:disabled{
    background-color: #CBD0D8;
    transition: none;
}