.sign-up{
    background: linear-gradient(90deg, #D3AC2B 50%,#333D51 50%);
    box-shadow: 0px 0px 150px rgba(34, 35, 58, 0.2);
    margin: 10% 25%;
    height: 60%;
    border-radius: 75px;
}

.sign-up-form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.video-form, .email-form{
    width: 50%;
    height: 100%;
    padding: 5%;
}

.video-form .video-contents{
    width: 100%;
    height: 100%;
    color: #333D51;
    background-color: #333D51;
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
}

.video-contents video{
    width: 100%;
    border-radius: 45px;
    display: block;
}

.video-contents.take-photo video{
    display: none;
}

.video-contents canvas{
    border-radius: 45px;
    width: 100%;
    display: none;
}

.video-contents.take-photo canvas{
    display: block;
}

.video-contents div{
    margin-top: 5%;
    color: #F4F3EA;
    font-size: 60px;
    font-weight: 600; 
}

.video-contents button{
    margin-top: 7%;
}

.email-form .email-contents{
    width: 100%;
    height: 100%;
    /* 
        color는 보통 텍스트색상을 지정하기위해서 사용하는 색상이지만
        이 경우에는 currentColor의 값을 초기화해주기 위해서 사용함.
    */
    color: #F4F3EA;
    background-color: #F4F3EA;
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
}

.sign-up .email-contents h2{
    color: #CBD0D8;
}

.sign-up .email-contents label{
    margin-top: 5%;
    align-self: start;
    padding-left: 45px;
    font-size: 60px;
    color: #CBD0D8;
}

.sign-up .email-contents input{
    width: 90%;
    margin-top: 3%;
}

.sign-up .email-contents select{
    width: 90%;
    margin-top: 3%;
}

.sign-up .email-contents button{
    margin-top: 7%;
}