select{
    height: 75px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    color: #333D51;
    box-shadow: inset 0px -3px 0px 0px #CBD0D8;
    outline: none;
}

select:hover{
    box-shadow: inset 0px -3px 0px 0px #333D51;
}